Django>=4.0,<4.1
wagtail>=2.16,<2.17
git+https://github.com/wagtail/wagtail-live.git@custom-livepost-block
boto3==1.16.63
channels==3.0.4
channels-redis==3.4.0
django-redis
dj-database-url==0.4.1
django-compressor==3.1
libsass
django-libsass>=0.9
psycopg2-binary==2.9.3
django-storages
requests==2.26.0
whitenoise==6.0.0
emoji_data_python
