$color--white: #ffffff;
$color--lagoon: #3beccd;
$color--shark: #1c2427;
$color--red: #d13d2a;

$color--text: $color--shark;
$color--background: $color--white;
$color--accent: $color--lagoon;
$color--link: $color--lagoon;
$color--border: #dfdfdf;

$font-primary: "Roboto", "Effra", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$font-secondary: "Effra";

$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;

$small-font-size: 15px;
